snippet ahref
	<a href="$1">$2</a>
snippet button
	<button$1>$2</button>
snippet div
	<div$1>$2</div>
snippet form
	<form action="$1" method="$2">$3</form>
snippet header
	<header>$1</header>
snippet input
	<input type="$1" name="$2">
snippet label
	<label for="$1">$2</label>
snippet trsimpsons
	<tr>
		<td>$1</td>
		<td>$2</td>
		<td><a href="$3">$4</a></td>
		<td><a href="$5">$6</a></td>
		<td><a href="$7">$8</a></td>
		<td>$9</td>
	</tr>
